.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #f7f3f3ed;
    background-color: #3e9a63;
}

.navbar-default .navbar-nav>li>a {
    color: #de520a;
    font-size: larger;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #a98787;
}
.form-control {
    color: #1d1414;
    background-color: #dddff1;
}

.btn-default {
    color: #efe9e6;
    background-color: #1c1d1c;
    border-color: #1fcc28;
}

#back{
    color: #44e0cd;
    text-decoration: none;
}


#friendslider{
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: #f7f3f3ed;
    background-color: #796694;
}

#login, #register {
    position: absolute;
    left: 1020px;
    top: 200px;
}
#loginsd, #registersd {
    position: absolute;
    left: 1010px;
    top: 100px;
}

#loginimg, #registerimg {
    position: absolute;
    left: 362px;
    top: 221px;
    width: 550px;
    height: 400px;
}