<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="#" id="tip"></a>
        <a class="navbar-brand" href="../login.html" id="exit">Exit</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html" id="index">Home</a>
            </li>
              <li class="nav-item">
                  <a class="nav-link" href="my_blog.html" id="myblog">MyBlog</a>
              </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html" id="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="contact.html" id="contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="add.html" id="add">Add</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Go Blog</h1>
              <span class="subheading">A Blog Platform Developed By Go</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div style="margin-top: 100px">
        <p style="color: #0c5460;margin-left: 100px;position: absolute;top: 700px">Advertising space for rent</p>
    </div>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto" id="blogCon">

          <!-- Pager -->

        </div>
        <div class="clearfix" id="hotart">
        </div>
      </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Your Website 2018</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script>
      
      function getQueryVariable(variable)
        {
           var query = window.location.search.substring(1);
           var vars = query.split("&");
           for (var i=0;i<vars.length;i++) {
                   var pair = vars[i].split("=");
                   if(pair[0] == variable){return pair[1];}
           }
           return(false);
        }

      $(document).ready(function(){
            session = getQueryVariable("session")
            $("#index").attr("href","index.html?session="+session);
            $("#about").attr("href","about.html?session="+session);
            $("#post").attr("href","post.html?session="+session);
            $("#contact").attr("href","contact.html?session="+session);
            $("#add").attr("href","add.html?session="+session);
            $("#myblog").attr("href","my_blog.html?session="+session);

            $.ajax({
                type: "GET",//方法类型
                contentType: "application/json",
                url: "http://192.168.35.193:8081/user/sessions/"+session ,
                success: function (result) {
                  $("#tip").html(result.name);
                },
                error : function() {
                  $("#tip").html("LOGIN");
                  $("#tip").attr("href","../login.html");
                }
            });
            staticF = "http://192.168.35.193:8081/static/"
            $.ajax({
              type: "GET",//方法类型
              contentType: "application/json",
              url: "http://192.168.35.193:8081/article/articles",
              success: function (data) {
                  var html = `<p>All blogs:</p>`;
                  $.each(data, function(i, obj) {
                      html += `<div class="post-preview">
            <a href="post.html?article=`+obj.id+"&session="+session+`" id="">
              <h2 class="post-title">`+obj.title+`
              </h2>
              <h3 class="post-subtitle">
               `+obj.second_title+`
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">`+obj.auth+`</a>
              on `+obj.create_time+`</p>
              <img src="`+staticF+obj.photo+`" alt="" style="max-width:300px;width:expression(this.width > 300 ? "300px" : this.width);">
          </div>
            <hr>
          <hr>`;  //循环遍历，拼接
                  });
                  $("#blogCon").html(html);//动态插入html
              },
              error : function() {
                  alert("search blog failed");
              }
          });


          $.ajax({
              type: "GET",//方法类型
              contentType: "application/json",
              url: "http://192.168.35.193:8081/article/articles/hot/top10",
              success: function (data) {
                  var html = `<p>热门文章推荐(Top 10):</p>`;
                  $.each(data.hot, function(i, obj) {
                      html += `
            <a href="post.html?article=`+obj.id+"&session="+session+`" id="">
              <p class="post-title">`+obj.title+`&nbsp;&nbsp;&nbsp;热度：`+obj.hot+`
              </p>
            </a>

          `;  //循环遍历，拼接
                  });
                  $("#hotart").html(html);//动态插入html
              },
              error : function() {
                  alert("search blog failed");
              }
          });




        });


    </script>
    <!-- Custom scripts for this template -->
    <script src="js/clean-blog.min.js"></script>


  </body>

</html>
